body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15vh 75vh 10vh;
  grid-template-areas:
    "header "
    "main "
    "footer ";
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cyan;
}
header img {
  height: 100%;
}

header a {
  padding: 0 100px;
  font-size: 3em;
}
header a {
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
  color: red;
  cursor: crosshair;
}

.main {
  grid-area: main;
  font-size: 2.5em;
  background-color: salmon;
}
section {
  display: flex;
}
table,
th,
td {
  border: 1px black solid;
  border-collapse: collapse; /*Bruno sabe mt  */
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 5px 5px;
  font-size: 1 em;
  text-align: center;
}
footer {
  grid-area: footer;
  font-size: 2.5em;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}
footer p {
  margin: 0 auto;
}
